if (( $+commands[mise] )); then
  mnpm()  { local s="$1"; shift; mise use -g "npm:${s}" "$@"; }
  mbun()  { local s="$1"; shift; mise use -g "bun:${s}" "$@"; }
  mpipx()  { local s="$1"; shift; mise use -g "pipx:${s}" "$@"; }
  mgh() { local s="$1"; shift; mise use -g "github:${s}" "$@"; }
  mgl() { local s="$1"; shift; mise use -g "gitlab:${s}" "$@"; }
fi

if (( $+commands[nvim] )); then
  alias vi='nvim'
  alias vim='nvim'
fi

alias ls='ls --color=auto'
alias ll='ls -lh --color=auto'

if (( $+commands[eza] )); then
  alias ls='eza -F'
  alias ll='eza -lgF --git --time-style long-iso --hyperlink --icons'
fi

if (( $+commands[batcat] )); then
  alias bat='batcat'
fi
