if builtin command -v mise > /dev/null; then
  mnpm()  { local s="$1"; shift; mise use -g "npm:${s}" "$@"; }
  mbun()  { local s="$1"; shift; mise use -g "bun:${s}" "$@"; }
  mpipx()  { local s="$1"; shift; mise use -g "pipx:${s}" "$@"; }
  mgh() { local s="$1"; shift; mise use -g "github:${s}" "$@"; }
  mgl() { local s="$1"; shift; mise use -g "gitlab:${s}" "$@"; }
fi

if builtin command -v nvim > /dev/null; then
  alias vi='nvim'
  alias vim='nvim'
fi

alias ls='ls --color=auto'
alias ll='ls -lh --color=auto'

{{ if eq .chezmoi.os "darwin" }}
if [ -x $HOMEBREW_OPT/coreutils/libexec/gnubin/ls ]; then
  alias ls='ls --color=auto'
  alias ll='ls -lh --color=auto'
fi
{{ end }}

if builtin command -v eza > /dev/null; then
  alias ls='eza -F'
  alias ll='eza -lgF --git --time-style long-iso --hyperlink --icons'
fi
